.itemDetailBackground
    position: absolute
    top: 0
    background-color: rgba(0,0,0, 0.2)
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    align-items: center

    
.itemDetailContainer
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 60%
    width: 55%
    background-color:#ffff

.detailInnerContainer img
    width: 50%
